* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header_container_menu {
    display: flex;
    /* padding: 15px; */
    align-items: center;
    background-color: #ffcf00;
    width: 100%;
    justify-content: space-between;
    padding: 30px 80px 30px 80px;

}

.menu_logo {
    width: 100px;
    height: 100px;
    background: url(https://assets.lego.com/logos/v4.5.0/brand-lego.svg);
    background-size: auto;
    background-position: center;
}

.nav_ul {
    display: flex;
    gap: 30px;
}

.ul_li {
    list-style-type: none;
}

.li_link {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

.menu_logo_a_nav {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.menu_search {
    cursor: pointer;
}

#search {
    padding: 14px 14px 14px 50px;
    border-radius: 30px;
}

#label {
    position: relative;
    right: -45px;
    top: 13px;
}

.busket_button>svg {
    width: 50px;
    height: 50px;
}

.menu_search_a_basket {
    display: flex;
    align-items: center;
}

.busket_button {
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    background-color: #ffcf00;
    cursor: pointer;
}

.menu_search_a_basket {
    gap: 30px;
}

.banner_bgc_text {
    background-color: white;
    padding-top: 5%;
}

.banner_bgc {
    background: url(./img/Lego\ Minifigures\ Series\ One.png);
    /* width: 1600px; */
    width: 100%;
    padding-bottom: 800px;
    background-position: center;
    background-repeat: no-repeat;

}

.banner_bgc_text_title {
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.header_container_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bgc_text_button {
    padding: 30px;
    background-color: #ffcf00;
    font-size: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgc_text_form {
    display: flex;
    justify-content: center;
    padding-top: 30px
}

.text_button_svg {
    margin-left: 30px;
}

.plush_cart {
    background-color: white;
    border: 1px solid black;
    height: 600px;
}

.plush_info {
    padding-top: 35px;
}

.section_for_adult_theme {
    background-color: #282828;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 80px 40px 80px;
}

.adult_theme_log {
    width: 291px;
    height: 20px;

}

.text_box_title {
    color: white;
    font-family: 'Roboto', sans-serif;

}

.text_box_text {
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

/* grhetagewhrgehershtjrerehs */
.main_section_for_adult {
    background-color: #282828;
}

.section_for_adult_text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.section_for_adult_star_wars_them {
    color: white;
    /* background: url(./img/10 Hero Tall AdultsWelcome About Desktop.webp); */
    background: url(./img/10\ Hero\ Tall\ AdultsWelcome\ About_Desktop.webp);
    padding-bottom: 150px;

}

.star_wars_them_title {
    font-family: 'Open Sans', sans-serif;
    margin-top: 319px;
}

.star_wars_them_text {
    font-family: 'Open Sans', sans-serif;
}

.section_for_adult_star_wars_them_box {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}

.star_wars_them_button {
    margin-top: 15px;
    padding: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.section_for_adult_elden_ring_them {
    background: url(./img/adult\ box.webp);
}

.section_for_adult_elden_ring_them_box {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    line-height: 2;
    margin: 0 163px 0px 0;
    padding-bottom: 219px;
}

.eiffel {
    margin-left: 70px;
}

.for_adult_shop_them_title {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.section_for_adult_paint_them {
    background: url(./img/Now\ THAT’S\ a\ Great\ Wave….webp);
}

.sectione_for_adult_jazz_them {
    background: url(./img/Jazz\ up\ your\ life.webp);
}

.section_for_adult_shop_them {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}

.for_adult_shop_them_carts_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_container_batman_section {
    background-color: black;
}

.for_adult_shop_them_carts_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.favorites_button_svg {
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.plush_cart {
    background-color: white;
    border: 1px solid black;
    height: 600px;
}

.cart {
    margin-top: 30px;
    width: 350px;
    height: 523px;
    /* width: 23%; */
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.cart_info_bag {
    background-color: #ffcf00;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    gap: 10px;
}

.cart_img {
    margin-top: 50px;
    object-fit: cover;
    height: 225px;
}

.sectione_button {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.section_button_viev {
    padding: 15px 30px;
    background-color: #ffcf00;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.footer_container {
    background-color: rgb(32, 29, 72);
}

.footer_logo {
    width: 100px;
    height: 100px;
    background: url(https://assets.lego.com/logos/v4.5.0/brand-lego.svg);
    background-size: auto;
    background-position: center;
}

.footer_info {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 30%;
}

.maps {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.footer_about_us {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.about_us_link {
    color: white;
}

.footer_support {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.footer_copyright {
    margin-top: 20px;
    border-top: solid 1px white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.copyright_text {
    color: white;
}

.footer_info {
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
}

.texts_box {
    opacity: 0.5;
    background-color: white;
    padding: 5px;
}

/* .section_for_adult_shop_them{
    justify-content: center;
} */
@media (max-width:1400px) {
    .star_wars_them_text {
        width: 300px;
    }
}

@media (max-width:1527px) {
    .section_for_adult_star_wars_them {
        display: none;
    }

    .section_for_adult_elden_ring_them {
        background-repeat: no-repeat;
    }

    .section_for_adult_paint_them {
        background-repeat: no-repeat;
    }

    .sectione_for_adult_jazz_them {
        background-repeat: no-repeat;
    }

    .star_wars_them_title {
        font-family: 'Open Sans', sans-serif;
        margin-top: 702px;
    }

    .section_for_adult_elden_ring_them_box {
        padding: 0;
    }
}

@media (max-width:800px) {

    .for_adult_shop_them_carts_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:625px) {
    .text_box_text {
        width: 300px;
    }
}

@media (max-width:490px) {
    .section_for_adult_elden_ring_them_box {
        margin: 0 92px 0px 0;
    }
}
@media (max-width:425px) {
    .section_for_adult_elden_ring_them_box {
        margin: 0 45px 0px 0;
    }
}
/* header */

@media (max-width:1175px) {
    .nav_ul {
        gap: 5px
    }

    .menu_logo_a_nav {
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width:903px) {
    .menu_search {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:550px) {
    #search {
        width: 10px;
    }
}

/* burger start */

#burger {
    display: none;
}

.burger {
    display: none;
}

.header_container_menu {
    position: fixed;
}

.box {
    width: 20px;
}

@media (max-width:826px) {
    .nav {
        display: none;
    }

    .burger {
        display: block;
        position: relative;
        left: -150px;
        top: 20px;
        margin-top: -30px;
    }
}

@media (max-width:430px) {
    .burger {
        left: -152px;
    }
}

@media (max-width:825px) {

    #burger:checked+label+.nav {
        display: block;
    }

    .nav_ul {
        flex-direction: column;
        gap: 1px;
        margin-left: 60px;
    }

    .menu_logo_a_nav {
        justify-content: start;
    }
}


/* burger */